label.error {
    color: red !important;
}
.ModalUser {
    width: 70%;
    margin: auto;
    text-align: center;
}
/* Định dạng phần form đăng nhập*/
.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}

    .fomrgroup input {
        float: right;
        width: 100%;
        height: 25px;
        margin-right: 10px;
        line-height: 50px;
    }

    .fomrgroup b {
        font-size: 20px;
    }
/* Định dạng phần form đăng nhập*/
#fomrgroupModal {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}

#fomrgroupModal input {
    float: right;
    width: 70%;
    height: 25px;
    margin-right: 20px;
    line-height: 50px;
}

#fomrgroupModal b {
    font-size: 20px;
}
