
@{
    ViewBag.Title = "AllBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="site-main">
    <div class="page_content">
        <div class="left-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <main>
        </main>
        <div class="right-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <div class="footer_image"></div>
    </div>
</div>
<section class="page_title wave">
    <div class="container">
        <div class="title">
            <h1>Books List</h1>
        </div>
        <nav class="bread-crumbs"><a href="index.html">Home</a><i class="delimiter fa fa-chevron-right"></i><span class="current">About Us</span></nav>
    </div>
    <canvas class="breadcrumbs" data-bg-color="#f8f2dc" data-line-color="#f9e8b2"></canvas>
</section>
<div id="main" class="site-main">
    <div class="page_content">
        <div class="left-pattern pattern pattern-2"></div>
        <main>
        </main>
    </div>
</div>


