@model DATA.Models.NguoiDung

<!-- User profile and search -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        <img src=" @Model.AnhDaiDien" alt="user" class="rounded-circle"
             width="40" />
        <span class="ml-2 d-none d-lg-inline-block">
            <span>Hello,</span>
            <span class="text-dark">@Model.HoTen</span>
            <i data-feather="chevron-down" class="svg-icon"></i>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY" >
        <a class="dropdown-item" onclick="ModalThemSua('/Admin/QLNguoiDung/_ChiTietAdmin')" href="#">
            <i data-feather="user" class="svg-icon mr-2 ml-1"></i>
            My
            Profile
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/QLNguoiDung/DangXuat">
            <i data-feather="power"
               class="svg-icon mr-2 ml-1"></i>
            Logout
        </a>
    </div>
</li>

<!-- User profile and search -->