
@{
    ViewBag.Title = "DanhSachHangMucSach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item">
                        <a class="black-text showload" href="/Admin/Admin/Index">Home</a><i class="fas fa-angle-right mx-2"></i>
                    </li>
                    Book Loan
                </ol>
            </nav>
            <div class="card-body">
                <div class="col-md-12  waves-light text-uppercase">
                    <h3 class="text-center display-5">
                        Book Loan
                    </h3>
                    <hr />
                </div>
                <div class="table-responsive text-center">
                    <div id="data"></div>
                </div>
                <div id="frmdata">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-table">
   
</div>






@section Scripts{
    <script src="~/Areas/Admin/Content/AdminJs/DatSachJS.js"></script>
}


