@model DATA.Models.HangMucSach
@{
    ViewBag.Title = "DanhSachTheLoaiSach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item">
                        <a class="black-text showload" href="/Admin/Admin/Index">Home</a><i class="fas fa-angle-right mx-2"></i>
                    </li>
                    Book Classes
                </ol>
            </nav>
            <div class="card-body">
                <div class="col-md-12  waves-light text-uppercase">
                    <h3 class="text-center display-5">
                        Book Classes
                    </h3>
                    <hr />
                </div>
                <div class="table-responsive text-center">
                    <div id="data"></div>
                    <div class="footer-table">
                        <div class="row">
                            <div class="col-md-1 m-3">
                                <button class="btn btn-success btn-sm  waves-effect waves-light" onclick="ModalThemSuaHangMucSach('/Admin/HangMucSach/_ThemOrSuaHangMuc')">
                                    <i class="fas fa-plus-square"></i> ADD
                                </button>

                            </div>
                            <div class="col-md-2 m-3">
                                <button class="btn btn-danger btn-sm  waves-effect waves-light" id="SelectDelete" onclick="XoaData('/HangMucSach/XoaHangMuc','/Admin/HangMucSach/_DanhSachHangMucSach')">
                                    <i class="fas fa-ban"></i> DELETE
                                </button>
                                <label class="non-touch" id="selected-row">
                                    <span class="checkbox-material">
                                        <span class="check-count"></span>
                                    </span>Selected <span id="numberOfSelectedRows">0</span> lines
                                </label>
                            </div>
                            <div class="col-md-2 m-3 float-right">
                                <label class="non-touch" id="selected-row">
                                    <a href="~/Areas/Admin/Content/Excel/HangMucSach.xls">File Excel</a>
                                </label>
                                <span class="btn btn-success btn-sm  waves-effect waves-light btn-file">
                                    <i class="fas fa-plus-square"></i>  ImportExcel
                                    <input type="file" id="ImportEx" onchange="ImportEx('/Admin/HangMucSach/ImportExcel','/Admin/HangMucSach/_DanhSachExcel')" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Areas/Admin/Content/AdminJs/HangMucSachJS.js"></script>
}


