@model DATA.Models.CaiDat
<div class='grid_row clearfix'>
    <div class='grid_col grid_col_12'>
        <div class='ce clearfix'>
            <div>
                <h3 class="ce_title" style="text-align: center;">Our center provides <span>the following services</span></h3>
            </div>
        </div>
    </div>
</div>
<div class='grid_row clearfix'>
    <div class='grid_col grid_col_4'>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-university'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Learn through play</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Mi id egestas metus neus, vivamus condimentum elit
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-book'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Education Services</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Congue ullamcorper scale, curabitur ultricies lacus
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='grid_col grid_col_4'>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-cubes'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Toys and Games</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Nec facilisis at, mattis nec est, morbi eget velit justo congue
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-child'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Child Care</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Cget phasellus id justo adipiscing scale curabitur
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='grid_col grid_col_4'>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-heart'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Love and Care</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Elit ve vestibulum feugiat, aliquam semper nunc xaugue
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='ce clearfix'>
            <div>
                <div class='cws_fa_tbl'>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell size_1x'>
                            <div class='cws_fa_wrapper round'><i class='cws_fa fa fa-1x fa-users'></i><span class='ring'></span></div>
                        </div>
                        <div class='cws_fa_tbl_cell'>
                            <h2>Physical Activity</h2>
                        </div>
                    </div>
                    <div class='cws_fa_tbl_row'>
                        <div class='cws_fa_tbl_cell'></div>
                        <div class='cws_fa_tbl_cell'>
                            <p>Congue uhasellus id scale justo adipiscin gultricies
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>