
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="site-main">
    <div class="page_content">
        <div class="left-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <main>
        </main>
        <div class="right-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <div class="footer_image"></div>
    </div>
</div>
<section class='page_title wave'>
    <div class='container'>
        <div class='title'>
            <h1>Shop</h1>
        </div>
        <nav class="bread-crumbs"><a href="index.html">Home</a><i class="delimiter fa fa-chevron-right"></i><span class="current">Cart</span></nav>
    </div>
    <canvas class='breadcrumbs' data-bg-color='#f8f2dc' data-line-color='#f9e8b2'></canvas>
</section>

<div id="main" class="site-main">
    <div class="page_content">
        <div class='left-pattern pattern pattern-2'></div>
        <div class='container'>
            <main>
                <div class='grid_row clearfix'>
                    <div class='grid_col grid_col_12'>
                        <div class='ce clearfix'>
                            <h3 class="ce_title" style="text-align: center;">Our Customers About Us</h3>
                            <div>
                                <p style="text-align: center;">Donec convallis a velit nec ultricies. Vestibulum elementum neque vitae orci vehicula, ac varius mi fringilla. Nullam molestie lectus vitae lorem aliquet, quis rutrum quam blandit. Nunc arcu mi, blandit ac nisl ut, lacinia dignissim massa. Nulla ultricies in quam id sagittis. Nunc arcu nisi, tempor non lectus id, pharetra euismod mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid_col grid_col_12'>
                        <div class='grid_col grid_col_6'>
                            <div class='ce clearfix'>
                                <div>
                                    <div class="testimonial clearfix">
                                        <div class='quote'>Duis quis arcu ut odio suscipit semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed justo a leo.</div>
                                        <figure class='author'>
                                            <div class='dott'><span>.</span><span>.</span><span>.</span></div><img src='' data-at2x='' alt />
                                            <figcaption>Jane Doe</figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='grid_col grid_col_6'>
                            <div class='ce clearfix'>
                                <div>
                                    <div class="testimonial clearfix">
                                        <div class='quote'>Ut tincidunt nisl sapien, eget gravida quam vestibulum vitae. Ut ultrices purus quis tincidunt rutrum. Integer volutpat pretium tellus venenatis </div>
                                        <figure class='author'>
                                            <div class='dott'><span>.</span><span>.</span><span>.</span></div><img src='' data-at2x='' alt />
                                            <figcaption>Kate John</figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='grid_row'>
                    <div id='comments' class='comments-area'>
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/morbi-iaculis/#respond" style="display:none;">Cancel reply</a></small></h3>
                            <form action="#" method="post" id="commentform" class="comment-form" novalidate>
                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                <p class="comment-form-author">
                                    <label for="author">Name <span class="required">*</span></label>
                                    <input id="author" name="author" type="text" value="" size="30" aria-required='true' required='required' />
                                </p>
                                <p class="comment-form-email">
                                    <label for="email">Email <span class="required">*</span></label>
                                    <input id="email" name="email" type="email" value="" size="30" aria-describedby="email-notes" aria-required='true' required='required' />
                                </p>
                                <p class="comment-form-url">
                                    <label for="url">Website</label>
                                    <input id="url" name="url" type="url" value="" size="30" />
                                </p>
                                <p class="comment-form-comment">
                                    <label for="comment">Comment</label>
                                    <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                                </p>
                                <p class="form-submit">
                                    <a class="cws_button small" onclick="PhanHoi()">Login</a>
                                    <input type='hidden' name='comment_post_ID' value='1939' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p>
                            </form>
                        </div>
                        <!-- #respond -->
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

