
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="site-main">
    <div class="page_content">
        <div class="left-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <main>
        </main>
        <div class="right-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <div class="footer_image"></div>
    </div>
</div>
<section class="page_title wave">
    <div class="container">
        <div class="title">
            <h1>Previews</h1>
        </div>
        <nav class="bread-crumbs"><a href="index.html">Home</a><i class="delimiter fa fa-chevron-right"></i><span class="current">Previews</span></nav>
    </div>
    <canvas class="breadcrumbs" data-bg-color="#f8f2dc" data-line-color="#f9e8b2"></canvas>
</section>
<div id="main" class="site-main">
    <div class="page_content single_sidebar">
        <div class="left-pattern pattern pattern-2" style="width: 69.5px;"></div>
        <div class="container">

            <!-- main container -->
            <main>
                <div class="grid_row">
                    <!-- blog items -->
                    <section class="news news-large">
                        <div class="cws_wrapper">
                            <div class="grid">
                                <article class="item small">
                                    <div class="post_header_def_post">
                                        <div class="date">
                                            <div class="date-cont"><span class="day">24</span><span class="month" title="1"><span>1</span></span><span class="year">2022</span><i class="springs"></i></div>
                                        </div>
                                        <div class="post_info_header">
                                            <h3 class="ce_title"><a href="/books/preview-detail/11">&#193;DASD</a></h3>
                                        </div>
                                    </div>
                                    <div class="media_info_wrapper">
                                        <div class="media_part">
                                            <div class="">

                                                <div class="video">
                                                    <video class="" loop controls style="width:200px; ">
                                                        <source src="/Images/Reader/thongbao.png" type="video/mp4" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_content_wrap">
                                        <div class="post_content">
                                            <p>&Aacute;DASD</p>

                                        </div>
                                        <div class="meta_cont_wrapper">
                                            <div class="meta_cont">
                                                <div class="post_info">
                                                    <div class="post_categories"><i class="fa fa-bookmark"></i><a href="/Account/ReaderInfo?Email=phungdinhpham0406%40gmail.com" rel="category tag"> phungdinhpham0406@gmail.com</a></div>
                                                </div>
                                                <div class="button_cont"><a href="/books/preview-detail/11" class="cws_button small">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-box">
                                        <canvas class="separator" width="1366" data-line-color="#f9e8b2" height="22" style="height: 22px; width: 1366px;"></canvas>
                                    </div>
                                </article>
                                <article class="item small">
                                    <div class="post_header_def_post">
                                        <div class="date">
                                            <div class="date-cont"><span class="day">2</span><span class="month" title="2"><span>2</span></span><span class="year">2021</span><i class="springs"></i></div>
                                        </div>
                                        <div class="post_info_header">
                                            <h3 class="ce_title"><a href="/books/preview-detail/10">Twinkle, Twinkle, Little Star - Lullaby for KIDS</a></h3>
                                        </div>
                                    </div>
                                    <div class="media_info_wrapper">
                                        <div class="media_part">
                                            <div class="">

                                                <div class="video">
                                                    <video class="" loop controls style="width:200px; ">
                                                        <source src="https://www.youtube.com/watch?v=abJ3n6EYHxg" type="video/mp4" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_content_wrap">
                                        <div class="post_content">

                                        </div>
                                        <div class="meta_cont_wrapper">
                                            <div class="meta_cont">
                                                <div class="post_info">
                                                    <div class="post_categories"><i class="fa fa-bookmark"></i><a href="/Account/ReaderInfo?Email=hannahlibvn%40gmail.com" rel="category tag"> hannahlibvn@gmail.com</a></div>
                                                </div>
                                                <div class="button_cont"><a href="/books/preview-detail/10" class="cws_button small">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-box">
                                        <canvas class="separator" width="1366" data-line-color="#f9e8b2" height="22" style="height: 22px; width: 1366px;"></canvas>
                                    </div>
                                </article>
                                <article class="item small">
                                    <div class="post_header_def_post">
                                        <div class="date">
                                            <div class="date-cont"><span class="day">25</span><span class="month" title="10"><span>10</span></span><span class="year">2020</span><i class="springs"></i></div>
                                        </div>
                                        <div class="post_info_header">
                                            <h3 class="ce_title"><a href="/books/preview-detail/5">The Human Body: A Pop-Up Guide to Anatomy</a></h3>
                                        </div>
                                    </div>
                                    <div class="media_info_wrapper">
                                        <div class="media_part">
                                            <div class="">

                                                <div class="video">
                                                    <div>
                                                        <iframe "759" "427" src="https://www.youtube.com/embed/jMowF52B2tk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_content_wrap">
                                        <div class="post_content">

                                        </div>
                                        <div class="meta_cont_wrapper">
                                            <div class="meta_cont">
                                                <div class="post_info">
                                                    <div class="post_categories"><i class="fa fa-bookmark"></i><a href="/Account/ReaderInfo?Email=hannahlibvn%40gmail.com" rel="category tag"> hannahlibvn@gmail.com</a></div>
                                                </div>
                                                <div class="button_cont"><a href="/books/preview-detail/5" class="cws_button small">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-box">
                                        <canvas class="separator" width="1366" data-line-color="#f9e8b2" height="22" style="height: 22px; width: 1366px;"></canvas>
                                    </div>
                                </article>
                                <article class="item small">
                                    <div class="post_header_def_post">
                                        <div class="date">
                                            <div class="date-cont"><span class="day">23</span><span class="month" title="10"><span>10</span></span><span class="year">2020</span><i class="springs"></i></div>
                                        </div>
                                        <div class="post_info_header">
                                            <h3 class="ce_title"><a href="/books/preview-detail/3">Harry Potter: A Pop-Up Guide to Hogwarts by Matthew Reinhart</a></h3>
                                        </div>
                                    </div>
                                    <div class="media_info_wrapper">
                                        <div class="media_part">
                                            <div class="">

                                                <div class="video">
                                                    <div>
                                                        <iframe "759" "427" src="https://www.youtube.com/embed/DENMtYhzgYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_content_wrap">
                                        <div class="post_content">

                                        </div>
                                        <div class="meta_cont_wrapper">
                                            <div class="meta_cont">
                                                <div class="post_info">
                                                    <div class="post_categories"><i class="fa fa-bookmark"></i><a href="/Account/ReaderInfo?Email=hannahlibvn%40gmail.com" rel="category tag"> hannahlibvn@gmail.com</a></div>
                                                </div>
                                                <div class="button_cont"><a href="/books/preview-detail/3" class="cws_button small">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-box">
                                        <canvas class="separator" width="1366" data-line-color="#f9e8b2" height="22" style="height: 22px; width: 1366px;"></canvas>
                                    </div>
                                </article>
                                <article class="item small">
                                    <div class="post_header_def_post">
                                        <div class="date">
                                            <div class="date-cont"><span class="day">22</span><span class="month" title="10"><span>10</span></span><span class="year">2020</span><i class="springs"></i></div>
                                        </div>
                                        <div class="post_info_header">
                                            <h3 class="ce_title"><a href="/books/preview-detail/1">Test review a book</a></h3>
                                        </div>
                                    </div>
                                    <div class="media_info_wrapper">
                                        <div class="media_part">
                                            <div class="">

                                                <div class="video">
                                                    <video class="" loop controls style="width:200px; ">
                                                        <source src="/Videos/agi gi gig.mp4" type="video/mp4" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post_content_wrap">
                                        <div class="post_content">
                                            <p>Test review a book</p>

                                        </div>
                                        <div class="meta_cont_wrapper">
                                            <div class="meta_cont">
                                                <div class="post_info">
                                                    <div class="post_categories"><i class="fa fa-bookmark"></i><a href="/Account/ReaderInfo?Email=hannahlibvn%40gmail.com" rel="category tag"> hannahlibvn@gmail.com</a></div>
                                                </div>
                                                <div class="button_cont"><a href="/books/preview-detail/1" class="cws_button small">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-box">
                                        <canvas class="separator" width="1366" data-line-color="#f9e8b2" height="22" style="height: 22px; width: 1366px;"></canvas>
                                    </div>
                                </article>

                            </div>

                        </div>
                    </section>
                    <!-- / blog items -->
                </div>
            </main>
            <!-- / main container -->
        </div>
        <!-- pattern // -->
        <div class="right-pattern pattern pattern-2" style="width: 69.5px;"></div>
        <!-- footer image // -->
        <div class="footer_image"></div>
    </div>
    <!-- svg filter -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style="display:none;">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></feColorMatrix>
                <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
            </filter>
        </defs>
    </svg>
    <!-- / svg filter -->
</div>
