
@{
    ViewBag.Title = "DanhSachPhanHoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-12">
        <div class="card">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item">
                        <a class="black-text showload" href="/Admin/Admin/Index">Home</a><i class="fas fa-angle-right mx-2"></i>
                    </li>
                    Feedback
                </ol>
            </nav>
            <div class="card-body">
                <div class="col-md-12  waves-light text-uppercase">
                    <h3 class="text-center display-5">
                        Feedback
                    </h3>
                    <hr />
                </div>
                <div class="table-responsive text-center">
                    <div id="data"></div>
                    <div class="footer-table">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ReloadData('/Admin/PhanHoiAdmin/_DanhSachPhanHoi');
        });
    </script>
}