/*.modal {
    display: none;*/ /* Ẩn Mặc Định */
    /*position: fixed;
    z-index: 10000000000000000000000000000000;
    padding-left:25%;
    left: 0;
    top: 60px;
    width: 50%;
    height: 100%;*/
   /* overflow: auto;*/ /* thiết lập scroll khi cần thiết */
    /*background-color: transparent;
}*/
.formModal {
    padding: 20px 35px 45px;
}
/* Nội Dung Modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    border-radius: 25px;
}

/* Nút Đóng Modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    /*background-color: #fff;*/
    /*border: 1px solid rgba(0,0,0,0.1);*/
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
