@model  DATA.Models.CaiDat
<div class="col-md-3 register-left">
    <img src="~/Content/Images/Top-header/login.png" />
</div>

<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
<div class="col-md-9 register-right">
    <div class="tab-content-register" id="myTabContent">
        <div class="row register-form-login">
            <p class="tilte-name-form" id="tilte-name-form">Security code</p>
            <div class="form-group">
                <label id="Label-SecurityCode" style="color:red" class="Label-SecurityCode">Please confirm yout email ! </label>
                <input type="text" id="Inp-SecurityCode" class="form-control" value="" />
            </div>
            <div class="loading" id="loading">
                <img src="~/Content/Kiddy-Template/img/loading_hannah.gif" />
            </div>
            <div class="form-group" style="display:flex">
                <div class="col">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" class="button" id="btnLogin" name="login" onclick="XacNhanMail()" value="Submit">
                        </div>
                        <div class="col-md-6">
                            <input id="btnct" class="button" type="button" value="Resend" onclick="GuiMaXacNhan()" />
                        </div>
                    </div>
                    <input type="hidden" value="@Model.ThoiHanMaXacNhan" id="thoiGianGuiMa" />
                    <h3 id="some_div"></h3>
                </div>
            </div>
        </div>
    </div>
</div>