<div class="modal-header">
    <h3 class="text-center text-info" id="titleModal">Login</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="formLogin">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="~/Assets/LayoutUser/img/imgModalLogin.jpg" />
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="usernameEmailLogin" class="text-info">Username <span class="required"><b>*</b></span></label><br>
                        <input type="text" name="usernameEmailLogin" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin" class="text-info">Password <span class="required"><b>*</b></span></label><br>
                        <input type="password" name="passwordLogin" class="form-control">
                    </div>
                    <div id="footerModalButton">
                        <a class="cws_button small" onclick="DangNhap()">Login</a>
                        <a onclick="OpenModalUser('/Users/_LostPassword')">Or Lost password ?</a>
                        <hr />
                        <a onclick="OpenModalUser('/Users/_Register')">Create an acount</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

