@model  DATA.Models.CaiDat
<!-- The Modal -->
<div id="ModalUser" class="modal">
    <div id="ModalContent">
        <form class="login" id="frmLogin">
            <p class="form-row form-row-wide">
                <label for="username">Username or email <span class="required">*</span></label>
                <input type="text" class="input-text" name="usernameEmailLogin" id="usernameEmailLogin">
            </p>
            <p class="form-row form-row-wide">
                <label for="password">Password <span class="required">*</span></label>
                <input class="input-text" type="password" name="passwordLogin" id="passwordLogin">
            </p>
            <p class="form-row">
                <a class="cws_button small" onclick="DangNhap()">Login</a>
                <a href="/register" id="lostPassword">Or Lost password ?</a>
                <a class="pull-right" id="btnCreateAccount">Create an acount</a>
            </p>
        </form>
    </div>
</div>

<script>
    var modal = document.getElementById('ModalUser');

    // Lấy phần button mở Modal
    var btn = document.getElementById("myBtn");

    // Lấy phần span đóng Modal
    var span = document.getElementsByClassName("close")[0];

    // Khi button được click thi mở Modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // Khi span được click thì đóng Modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // Khi click ngoài Modal thì đóng Modal
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>