<style>
    #sao {
        color: red;
    }
</style>
<div class="col-md-3 register-left">
    <img src="~/Content/Images/Top-header/register.png" />
    <h3 style="font-family:Patrick Hand; font-size:35px">Welcome to <br> Hannah Libary </h3>
    <p>We bring you pleasure in reading and discovering knowledge </p>
    <input type="submit" onclick="OpenModalUser('NguoiDung/_Login')" name="" value="Login" /><br />
</div>
<button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">
    ×
</button>
<div class="col-md-9 register-right">
    <div class="tab-content-register" id="myTabContent">
        <div class="row register-form frm">
            <form id="frmRegister" action="" method="post">
                <div class="col-md-6">
                    <p class="tilte-name-form">Your Infomation</p>
                    <p>
                        <label for="fullname">FullName <span id="sao"> *</span></label>
                        <input type="text" class="form-control" id="fullname" name="fullname">
                    </p>
                    <p>
                        <label for="username">UserName<span id="sao"> *</span></label>
                        <input type="text" class="form-control" id="username" name="username">
                    </p>
                    <p>
                        <label for="email">Email<span id="sao"> *</span></label>
                        <input type="email" class="form-control" id="email" name="email">
                    </p>
                    <p>
                        <label for="phone">Phone Number</label>
                        <input type="number" class="form-control" maxlength="10" id="phone" name="phone">
                    </p>
                    <p>
                        <label for="password">Password<span id="sao"> *</span></label>
                        <input type="password" class="form-control" id="password" name="password">
                    </p>
                    <p>
                        <label for="confirmpassword">Confirm Password<span id="sao"> *</span></label>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
                    </p>
                    <p>
                        <label for="dob">Date Of Birth</label>
                        <input class="form-control" type="date" id="dob" name="dob">
                    </p>
                    <p>
                        <label for="address">Address<span id="sao"> *</span></label>
                        <input type="text" class="form-control" id="address" name="address">
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="tilte-name-form">Sponsor Infomation</p>
                    <p>
                        <label for="sname">Sponsor Name<span id="sao"> *</span></label>
                        <input type="text" class="form-control" id="sname" name="sname">
                    </p>
                    <p>
                        <label for="sphone">Sponsor Phone<span id="sao"> *</span></label>
                        <input type="number" class="form-control" maxlength="10" id="sphone" name="sphone">
                    </p>
                    <p>
                        <label for="smail">Sponsor Email<span id="sao"> *</span></label>
                        <input type="email" class="form-control" id="smail" name="smail">
                    </p>
                    <p>
                        <label for="srelationship">Your Relationship With Sponsor<span id="sao"> *</span></label>
                        <select id="srelationship" class="form-control" name="srelationship">
                            <option value="Friend">Friend</option>
                            <option value="Relatives">Relatives</option>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                    </p>
                    <a class="btn btnSubmit" onclick="CheckForm()">Submit</a>
                </div>
            </form>
        </div>
    </div>
</div>