
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
 

    @@media (max-width: 987px) {
        .User-info {
            width: 98%;
        }

        .suggester {
            width: 98%;
            margin-left: 0% !important;
            position: inherit;
        }

        div.woocommerce form.login p.form-row, div.woocommerce p.form-row #user_login {
            width: 97%;
        }
    }
</style>
<div id="main" class="site-main">
    <div class="page_content">
        <div class="left-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <main>
        </main>
        <div class="right-pattern pattern pattern-2" style="width: 154.5px;"></div>
        <div class="footer_image"></div>
    </div>
</div>
<section class="page_title wave">
    <div class="container">
        <div class="title">
            <h1>Login</h1>
        </div>
        <nav class="bread-crumbs"><a href="/Home/Index">Home</a><i class="delimiter fa fa-chevron-right"></i><span class="current">Login</span></nav>
    </div>
    <canvas class="breadcrumbs" data-bg-color="#f8f2dc" data-line-color="#f9e8b2" height="71" width="1366" style="height: 71px; width: 1366px;"></canvas>
</section>
<div class="container">
    <div class="row">
        <form id="frmRegister">
            <div class="col">
                <h2 id="titleForm"> Your Infomation</h2>
                <div class="form-group">
                    <label for="readerName">Full Name </label><span class="required"><b>*</b></span>
                    <input class="input-text" type="text" name="readerName" id="readerName">
                </div>
                <div class="form-group">
                    <label for="readerEmail" id="lb-email1">Email</label><span class="required"><b>*</b></span>
                    <input type="text" class="input-text" name="readerEmail" id="readerEmail">
                </div>
                <div class="form-group">
                    <label for="readerUserName" id="lb-userName1">Username</label><span class="required"><b>*</b></span>
                    <input type="text" class="input-text" name="readerUserName" id="readerUserName">
                </div>
                <div class="form-group">
                    <label for="readerPassWord">Password </label><span class="required"><b>*</b></span>
                    <input class="input-text" type="password" name="readerPassWord" id="readerPassWord">
                </div>
                <div class="form-group">
                    <label for="readerRePassWord" id="lb-repass1">Confirm Password </label><span class="required"><b>*</b></span>
                    <input class="input-text" type="password" name="readerRePassWord" id="readerRePassWord">
                </div>
                <div class="form-group">
                    <label for="readerDOB">Date Of Birth </label>
                    <input class="input-text" type="date" name="readerDOB" id="readerDOB">
                </div>
                <div class="form-group">
                    <label for="readerPhoneNumber">Phone Number </label>
                    <input class="input-text" maxlength="10" type="text" name="readerPhoneNumber" id="readerPhoneNumber">
                </div>
                <div class="form-group">
                    <label for="Address">Address </label><span class="required"><b>*</b></span>
                    <input class="input-text" type="text" name="readerAddress" id="readerAddress">
                </div>
            </div>
            <div class="col">
                <h2 id="titleForm"> Sponsor Infomation</h2>
                    <div class="form-group">
                        <label for="suggesterName">Sponsor Name </label><span class="required"><b>*</b></span>
                        <input class="input-text" type="text" name="suggesterName" id="suggesterName">
                    </div>
                    <div class="form-group">
                        <label for="suggesterPhoneMail">Sponsor Phone </label><span class="required"><b>*</b></span>
                        <input class="input-text" type="number" name="suggesterPhoneMail" id="suggestersPhoneMail">
                    </div>
                    <div class="form-group">
                        <label for="suggesterEmail">Sponsor Email</label><span class="required"><b>*</b></span>
                        <input class="input-text " type="text" name="suggesterEmail" id="suggesterEmail">
                    </div>
                    <div class="form-group">
                        <label for="suggesterRelation">Your Relationship With Sponsor </label><span class="required"><b>*</b></span>
                        <select name="suggesterRelation" class="orderby" id="suggestersRelation">
                            <option value="Friend">Friend</option>
                            <option value="Relatives">Relatives</option>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                        <input id="Relation" class="input-text" type="text" placeholder="Select From List Or Input Here">
                    </div>
                    <hr />
                    <p class="form-row justify-content-center">
                        <a class="cws_button small" onclick="DangKy()">Register</a>
                        <a href="/login">Or Login?</a>
                    </p>
            </div>
        </form>
    </div>
</div>
